<div class="container">
    <div class="masonry">
        <div class="item well" style="height: 100px;">
        </div>
        <div class="item well" style="height: 150px;">
        </div>
        <div class="item well" style="height: 610px;">
        </div>
        <div class="item well" style="height: 770px;">
        </div>
        <div class="item well" style="height: 300px;">
        </div>
        <div class="item well" style="height: 660px;">
        </div>
        <div class="item well" style="height: 130px;">
        </div>
        <div class="item well" style="height: 400px;">
        </div>
        <div class="item well" style="height: 230px;">
        </div>
        <div class="item well" style="height: 300px;">
        </div>
        <div class="item well" style="height: 460px;">
        </div>
        <div class="item well" style="height: 100px;">
        </div>
        <div class="item well" style="height: 150px;">
        </div>
        <div class="item well" style="height: 630px;">
        </div>
        <div class="item well" style="height: 712px;">
        </div>
        <div class="item well" style="height: 300px;">
        </div>
        <div class="item well" style="height: 300px;">
        </div>
        <div class="item well" style="height: 660px;">
        </div>
        <div class="item well" style="height: 130px;">
        </div>
        <div class="item well" style="height: 400px;">
        </div>
        <div class="item well" style="height: 230px;">
        </div>
        <div class="item well" style="height: 300px;">
        </div>
        <div class="item well" style="height: 460px;">
        </div>
        <div class="item well" style="height: 100px;">
        </div>
        <div class="item well" style="height: 150px;">
        </div>
        <div class="item well" style="height: 630px;">
        </div>
        <div class="item well" style="height: 712px;">
        </div>
        <div class="item well" style="height: 300px;">
        </div>
        <div class="item well" style="height: 300px;">
        </div>
        <div class="item well" style="height: 660px;">
        </div>
        <div class="item well" style="height: 130px;">
        </div>
        <div class="item well" style="height: 400px;">
        </div>
        <div class="item well" style="height: 230px;">
        </div>
        <div class="item well" style="height: 300px;">
        </div>
        <div class="item well" style="height: 100px;">
        </div>
        <div class="item well" style="height: 150px;">
        </div>
        <div class="item well" style="height: 610px;">
        </div>
        <div class="item well" style="height: 770px;">
        </div>
        <div class="item well" style="height: 300px;">
        </div>
        <div class="item well" style="height: 660px;">
        </div>
    </div>
</div>
