/* =============================== navbar css =============================== */

.navbar {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}

.dropdown-menu .divider {
    margin: 0;
}

.navbar.navbar-inverse .dropdown-menu li>a:focus, .navbar.navbar-inverse .dropdown-menu li>a:hover {
    color: black;
}

/* =============================== search-select css =============================== */

.search-select {
    position: relative;
}

.search-select .fa-angle-down {
    position: absolute;
    right: 5px;
    top: 15px;
}

.search-select select {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: -7px;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.search-select select option {
    padding: 10px 20px;
    transition: 0.5s;
    cursor: pointer;
}

.search-select select option:hover {
    background: #ccc;
}

.search-select select option:first-child {
    cursor: auto;
}

.search-select select option:first-child:hover {
    background: inherit;
}

/* =============================== common css =============================== */

.page {
    margin-top: 100px;
}

.fit-image {
    width: 100%;
}

p {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.8;
    margin-top: 15px;
}

.alert {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}

button.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.userLabel {
    color: #7d7d7d;
}

.masonry {
    margin: 1.5em 0;
    padding: 0;
    column-gap: 1.5em;
}

.masonry .item {
    width: 100%;
    display: inline-block;
    background: #ddd;
    margin: 0 0 1.5em;
}

@media only screen and (min-width: 700px){
    .masonry {
        column-count: 2;
    }
}
@media only screen and (min-width: 900px){
    .masonry {
        column-count: 3;
    }
}
@media only screen and (min-width: 1100px){
    .masonry {
        column-count: 4;
    }
}